{% extends 'events/base.html' %}

{% block content %}

       <style>
        body {
            background-color: #f0f8ff;
        }
        .login-form {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 3px dashed #6f8ffd;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }
        h3 {
            text-align: center;
            color: #153ed8;
            font-family: "Times New Roman";
            font-size: xx-large;
        }
        input[type="text"]
        {
            align-items: center;
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 2px solid #4879ff;
            border-radius: 5px;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #144bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #4879ff;
        }
        .error {
            color: red;
        }
    </style>
    <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.9/dist/css/autoComplete.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.9/dist/autoComplete.min.js"></script>


            <div class="login-form">
                <h3  style="font-weight: bold; color: #153ed8; text-align: center;margin: 0">Find Your Hospital</h3>
                <form method="GET" action="{% url 'hospital_result' %}" >
                    {% csrf_token %} 
                    <label for="find_hospitals"></label>
                    <input type="text" id="find_hospitals" name="find_hospitals" placeholder="Search for Area" autocomplete="on">
                    <ul id="suggestions"></ul>
                <button type="submit" name="submit_hospital">Search</button>
            </form>
                        </div>

    <script language="JavaScript" type="text/javascript">
        $( document ).ready(function() {
            $('#find_hospitals').on('input', function() {
                let query = $(this).val();
                if (query.length > 0) {
                    console.log(query);
                    $.ajax({
                        url: "{% url 'find_hospitals' %}",
                        data: { search: query },
                        success: function(data) {
                            //alert(data);
                            //console.log(data);
                            $('#suggestions').empty();
                            //$('#suggestions').append('<li class="suggestion-item">' + data+ '</li>');

                            data.forEach(function(area) {
                                $('#suggestions').append('<li class="suggestion-item">' + area.Area_Name  + '</li>');
                            });
                            // Add click handler to suggestions
                            $('.suggestion-item').on('click', function() {
                                let selectedSpecialty = $(this).text();
                             
                                $('#find-hospital').val ( selectedSpecialty );
                                $('#submit-hospital').val ( selectedSpecialty );
                                /*
                                $('form').append(`
                                    <div>
                                        <input type="checkbox" name="selected_specialty" value="${selectedSpecialty}" checked>
                                        <label>${selectedSpecialty}</label>
                                    </div>
                                `);
                                */

                                $('#find_hospital').val('');
                                $('#suggestions').empty();
                            });
                        }
                    });
                } else {
                    $('#suggestions').empty();
                }
            });
        });
    </script>

    </body>
    
{% endblock %}