{% extends 'events/base.html' %}

{% block content %}
    <style>
        body {
            background-color: #f0f8ff;
        }
        .registration-form {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 3px dashed #6f8ffd;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }
        h2 {
            text-align: center;
            color: #153ed8;
        }
        input[type="text"],
        input[type="email"],
        input[type='text'],
        input[type='radio'],
        input[type="date"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 2px solid #4879ff;
            border-radius: 5px;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #144bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #4879ff;
        }
        .error {
            color: red;
        }
    </style>
    <div class="registration-form">
        <h2>Register</h2>
        <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="id_username" style="font-weight: bold; color: #153ed8;">Username:</label>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                <label for="id_first_name" style="font-weight: bold; color: #153ed8;">First Name:</label>
                {{ form.first_name }}
                {% for error in form.first_name.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                <label for="id_last_name" style="font-weight: bold; color: #153ed8;">Last Name:</label>
                {{ form.last_name }}
                {% for error in form.last_name.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                <label for="id_email" style="font-weight: bold; color: #153ed8;">Email:</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        
            <div>
                <label for="id_password1" style="font-weight: bold; color: #153ed8;">Password:</label>
                {{ form.password1 }}
                {% for error in form.password1.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div>
                <label for="id_password2" style="font-weight: bold; color: #153ed8;">Confirm Password:</label>
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    {% if form.non_field_errors %}
        <div class="error">
            <p>Please correct the following errors:</p>
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    
{% endblock %}